* {
    text-align: center;
    background-color: rgb(214, 202, 197);
}

ul {
    list-style-type: none;
}

h1{
    background-color: rgb(213, 94, 39);
    color: rgb(237, 233, 226);
}

li{
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2{
    color: red;
    background-color: aliceblue;
}

p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}